# Caddy server config to prod environment
www.aoe2calendar.com, aoe2calendar.com {
    # adding headers
    header / {
        Strict-Transport-Security "max-age=31536000;"
        X-Content-Type-Options "nosniff"
        X-XSS-Protection "1; mode=block"
        -Server
    }
    proxy /ical localhost:3001 {
        # headers 
        transparent
    }

    # proxy to app
    proxy / aoe2calendar:3000 {
        # headers
        transparent
    }

    # e-mail tls
    tls contact@aoe2calendar.com

    # compress
    gzip

    errors stderr
    log / stdout "{remote} - [{when}] \"{method} {uri} {proto}\" {status} {size} {latency} {request}"
}
